@import '../../../styles//colorMixin.scss';


.button {
  height: 52px;
  background: $primary;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $white;
  padding: 0px 20px;
  transition: 0.2s ease-out opacity, 0.2s ease-out background-color;

  &:hover:not(:disabled):not(.loading) {
    background-color: $primary-hover;
  }

  &:active:not(:disabled) {
    background-color: $primary-active;
  }

  &.disabled {
    background-color: $primary-disabled;
  }
}


.loader {
  color: inherit;
  margin-right: 8px;
}
