@import "../../styles/colorMixin.scss";

.container {
  padding-top: 80px;
  width: 100vw;
  height: 100vh;
  background-color: $layout;
  position: relative;
}

.haeder {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1rem 3rem;
  background-color: $white;
  border-bottom: 2px solid $border;
  z-index: 5;
}

.containerImg {
  flex-grow: 1;
}

.img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: $white;
}

.link {
  color: $text-primary;
  cursor: pointer;
  margin-right: 20px;

  &:hover {
    color: $text-secondary;
  }

  &:focus {
    color: $text-accent;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-grow: 1;
  gap: 30px;
}
