@import "../../styles/colorMixin.scss";

.img {
  display: block;
  width: 100%;
  height: 200px;
  background-color: #d9d9d9;
  transition: ease-in-out 1s;

  &:hover {
    transform: scale(1.2);
  }
}
.cardImg {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  position: relative;
}

.like {
  position: absolute;
  top: 10px;
  right: 10px;
  background-size: contain;
}

.card {
  display: block;
  background-color: $white;
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: 24px 12px;
  gap: 8px;
  min-height: 172px;
}

.cardActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card:hover {
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 10px rgba(#000, 0.25);
}

.buttonNoLike {
  font-size: 34px;
  color: $likeNo;
  transform: scale(1);
  animation: pulseNo 1s ease-in-out;
}
.buttonYesLike {
  font-size: 34px;
  color: $likeYes;
  transform: scale(1);
  animation: pulseYes 1s ease-in-out;
}
