@import "../../styles/colorMixin.scss";

.root {
  padding: 2rem 3rem;
}

.containerButton {
  margin-bottom: 32px;
}

.containerContent {
  display: flex;
  gap: 48px;
}
.contentImg {
  width: 600px;
  height: 500px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contentText {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  gap: 24px;
}

.textName {
  font-size: 44px;
  font-weight: 400;
}

.iconBack {
  font-size: 34px;
  color: $primary-active;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
}
